<nav class="navbar bg-body-tertiary">
  <div class="container-fluid d-block">
    <div class="row align-content-center">
      <div class="col d-flex align-items-center">
        <a class="navbar-brand" routerLink="dashboard">
          <img
            src="cashflow-logo.jpg"
            style="width: 100px; height: 50px; object-fit: cover"
            alt=""
            srcset=""
          />
        </a>
      </div>
      <div class="col-2 d-flex align-items-center">
        <p class="fs-5 m-0 p-0">
          Saldo: {{ totalCashFlow() | currency: "BRL" }}
        </p>
      </div>
      <div class="col-2 d-flex align-items-center">
        <a class="btn btn-link" routerLink="login">
          <div class="row g-1 justify-content-center align-items-center">
            <div class="col">
              <i class="bi bi-person" style="font-size: 20px"></i>
            </div>
            <div class="col">
              <span>
                @if (userIsLoggedIn) {
                  Sair
                } @else {
                  Entrar
                }
              </span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</nav>
