<div class="container-fluid">
  <div
    class="row justify-content-center align-content-center"
    style="height: 80vh"
  >
    <form [formGroup]="registerFormGroup">
      <!-- Username -->
      <div class="mb-3">
        <label for="username" class="form-label">Usuário</label>
        <input
          type="text"
          id="username"
          class="form-control"
          formControlName="username"
          placeholder="Digite seu usuário"
        />
        @if (
          registerFormGroup.get("username")?.touched &&
          registerFormGroup.get("username")?.invalid
        ) {
          <div class="text-danger small">Usuário é obrigatório.</div>
        }
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          placeholder="Digite sua senha"
        />
        @if (
          registerFormGroup.get("password")?.touched &&
          registerFormGroup.get("password")?.invalid
        ) {
          <div class="text-danger small">Senha é obrigatória.</div>
        }
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirme a senha</label>
        <input
          type="confirmPassword"
          id="confirmPassword"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="Digite sua senha"
        />
        @if (
          registerFormGroup.get("confirmPassword")?.touched &&
          registerFormGroup.get("confirmPassword")?.invalid
        ) {
          <div class="text-danger small">Senha é obrigatória.</div>
        }
      </div>

      <button type="button" class="btn btn-primary w-100" (click)="submit()">
        Entrar
      </button>
    </form>
  </div>
</div>
