<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Criar novo registro</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" novalidate>
      <input
        class="form-control"
        name="description"
        ngModel
        required
        placeholder="Conta de Luz"
      />
      <input
        class="form-control"
        name="amount"
        type="number"
        ngModel
        required
        placeholder="200"
      />
      <select
        class="form-select"
        name="status"
        ngModel
        aria-label="Default select example"
        required
      >
        <option value="">Selecione uma opção</option>
        @for (status of expectedStatuses; track $index) {
          <option [value]="status[0]">
            {{ status[1] }}
          </option>
        }
      </select>
      <select
        class="form-select"
        name="type"
        ngModel
        aria-label="Default select example"
        required
      >
        <option value="">Selecione uma opção</option>
        @for (type of expectedTypes; track $index) {
          <option [value]="type[0]">
            {{ type[1] }}
          </option>
        }
      </select>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="submit(f)">
      Salvar
    </button>
  </div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)">
  <i class="bi bi-file-plus"></i> Adicionar
</button>
