<div class="row" style="min-height: 95vh">
  <div class="col">
    <div class="container-fluid">
      <div class="row justify-content-center my-5">
        <div class="col-3">
          <div class="bg-white rounded-3 p-3">
            <p>Receita</p>
            <h4>{{ totalIncome() | currency: "BRL" }}</h4>
          </div>
        </div>
        <div class="col-3">
          <div class="bg-white rounded-3 p-3">
            <p>Despesa</p>
            <h4>{{ totalExpense() | currency: "BRL" }}</h4>
          </div>
        </div>
        <div class="col-3">
          <div class="bg-white rounded-3 p-3">
            <p>Investimento</p>
            <h4>{{ totalInvestment() | currency: "BRL" }}</h4>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-9">
          <div class="bg-white rounded-3 p-3">
            <app-list />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-chat-ai />
